.toh ul {
  background-color: darkolivegreen;
  height: 400px;
  display: flex;
  justify-content: space-evenly;
}

.toh li {
  list-style: none;
  border-bottom: yellow 10px solid;
  width: 200px;
  margin-bottom: 20px;
}